spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

server:
  port: 8090

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka





